.noselect{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248,249,250);
    position: relative;
}
.noselect .contents{
    width:80%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.noselect .contents img{
    height:250px;
    width:250px;
}
.noselect .contents h1{
    margin: 0;
    margin-top:28px;
    font-size: 32px;
    font-weight: 300;
}
.noselect .contents p{
    margin: 0;
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px;
    color:rgba($color: #000000, $alpha: 0.45);
}
.noselect .contents > div:before{
    content:'';
    height:1px;
    width:100%;
    display: block;
    background-color: rgba($color: #a3a3a3, $alpha: 0.45);
}
.noselect .contents div {
    width:100%;
    margin-top: 34px;
}
.noselect .contents div div{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 34px;
}
.noselect .contents div div a{
    text-decoration: none;
    margin-left: 5px;
    color:#07BC4C;
}
.noselect .contents div p{
    margin-left: 5px;
    margin-top: 0;
}
svg{
    color:gray;
}
.noselect::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-color: rgb(74,223,131);
}